<div id="container" class="container">
  <div class="row">
    <div class="col-lg-5">
      <div id="quote-grid">
        <ejs-grid
          #grid
          [dataSource]="(quotes$ | async) || []"
          [allowFiltering]="false"
          [allowSorting]="false"
          [toolbar]="toolbar"
          [height]="screenHeight"
          [searchSettings]="searchSettings"
          [selectionSettings]="selectionSettings"
          [allowTextWrap]="false"
          clipMode="EllipsisWithTooltip"
          (actionBegin)="actionBegin($event)"
          (toolbarClick)="onToolbarClick($event)"
          (rowSelected)="onRowSelected($event)"
          (rowDeselected)="onRowDeselected($event)"
          (recordDoubleClick)="onRecordDoubleClick($event)"
          (commandClick)="commandClick($event)"
        >
          <e-columns>
            <e-column width="50" [commands]="commands" clipMode="Clip"></e-column>
            <e-column
              field="quoteNumber"
              headerText="Nº presupuesto"
              width="120"
              clipMode="EllipsisWithTooltip"
            ></e-column>
            <e-column
              field="customerName"
              headerText="Cliente"
              width="200"
              clipMode="EllipsisWithTooltip"
            ></e-column>
            <e-column
              field="issueDate"
              headerText="Emisión"
              type="date"
              format="dd/MM/yyyy"
              width="110"
            ></e-column>
            <e-column
              field="dueDate"
              headerText="Vence"
              type="date"
              format="dd/MM/yyyy"
              width="110"
            ></e-column>
            <e-column
              field="quoteId"
              [isPrimaryKey]="true"
              [visible]="false"
            ></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
    <div class="col-lg-7 quote-detail-col" [style.height.px]="panelHeight">
      <llion-quote-detail></llion-quote-detail>
    </div>
  </div>
</div>
