<ejs-dialog
  #dialog
  cssClass="brand-dialog"
  [visible]="false"
  [isModal]="true"
  [showCloseIcon]="true"
  [width]="'550px'"
  [header]="dialogTitle"
  [buttons]="dialogButtons"
>
  <div>
    <ejs-grid
      #gridgrouptable
      [dataSource]="localRowData"
      [toolbar]="gridToolbar"
      [editSettings]="gridEditSettings"
      [searchSettings]="{ fields: [textField] }"
      (created)="onGridCreated()"
      height="300"
      cssClass="icon-only-grid"
    >
      <e-columns>
        <e-column 
          [field]="idField"
          headerText="ID"
          [isPrimaryKey]="true"
          [visible]="false"
        ></e-column>
        <e-column 
          [field]="textField"
          [headerText]="textHeader"
          width="220"
        ></e-column>
      </e-columns>
    </ejs-grid>
  </div>
</ejs-dialog>