@use "../../../assets/scss/variables" as *;

.login-form-wrapper {
  width: 400px;
  overflow: hidden;
  padding: 50px;
  /* centered */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* BackGroud & Shadow */
  background-color: $llion-color-mercury; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-form h1 {
  text-align: center;
  padding: 20px;
}

.login-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.link-button {
  width: 100%;
  color: $llion-color-secundary;
  text-transform: lowercase;
}
.error-message {
  background-color: $llion-color-error;
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  height: 30px;
    .message, .message-close {
    color: $llion-color-white;
    font-weight: bold;
  }
}