
$LLION-COLOR-DOVE-GRAY: #666666;
$LLION-COLOR-LIGHTER-GRAY: #F3F2F1;
$LLION-COLOR-LIGHT-GRAY: #D0D0D0;
$LLION-COLOR-DARK-GRAY: #333333;
$LLION-COLOR-GRAY: #797979;

$LLION-COLOR-ORANGE-DARK: #D76541;
$LLION-COLOR-ORANGE-MEDIUM: #E6916C;

$LLION-COLOR-ELEPHANT: #0F3A53;
$LLION-COLOR-MATISSE: #186E9D;
$LLION-COLOR-LOCHMARA: #0589D4;

$LLION-COLOR-MERCURY:#E3E3E3;
$LLION-COLOR-WHITE: #FFFFFF;
$LLION-COLOR-SILVER: #C6C4C4;

$LLION-COLOR-PRIMARY-A: #F9EE05;
$LLION-COLOR-PRIMARY-B: #DBBB04;
$LLION-COLOR-PRIMARY: #F2B807;
$LLION-COLOR-PRIMARY-C: #DB9004;
$LLION-COLOR-PRIMARY-D: #F98705;

$LLION-COLOR-SECONDARY-A: #1906CC;
$LLION-COLOR-SECONDARY-B: #062AD6;
$LLION-COLOR-SECONDARY: #0082D6;
$LLION-COLOR-SECONDARY-C: #0090E3;
$LLION-COLOR-SECONDARY-D: #b2e1fd;
$LLION-COLOR-THIRD: #a64f03;
$LLION-COLOR-FOURTH: #541CBC;

$LLION-COLOR-ERROR: #BF001D;
$LLION-COLOR-WARNING:#FAA916;
$LLION-COLOR-SUCCESS: #007B33;
$LLION-COLOR-INFO: #0455BF;

$LLION-FONT-COLOR: #244059;



