<div class="wrapper-detail" *ngIf="visible$ | async; else placeholder">
  <form
    id="goods-receipt-detail-form"
    class="goods-receipt-form"
    [formGroup]="orderForm"
    *ngIf="order$ | async as order"
  >
    <div class="row">
      <div class="col-md-3">
        <ejs-textbox
          cssClass="po-number-field"
          placeholder="Recepción No."
          floatLabelType="Always"
          formControlName="grNumber"
          [enabled]="false"
        ></ejs-textbox>
      </div>
      <div class="col-md-3">
        <ejs-datepicker
          format="dd/MM/yyyy"
          placeholder="Emisión"
          floatLabelType="Always"
          formControlName="issueDate"
          [enabled]="enabled$ | async"
          (change)="onIssueDateChange()"
        ></ejs-datepicker>
      </div>
      <div class="col-md-3">
        <ejs-datepicker
          format="dd/MM/yyyy"
          placeholder="Emisión fiscal"
          floatLabelType="Always"
          formControlName="issueDateTax"
          [enabled]="enabled$ | async"
        ></ejs-datepicker>
      </div>
      <div class="col-md-3">
        <ejs-textbox
          placeholder="Estatus"
          floatLabelType="Always"
          formControlName="statusName"
          [enabled]="false"
        ></ejs-textbox>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <ejs-dropdownlist
          placeholder="Proveedor"
          floatLabelType="Always"
          formControlName="providerId"
          [dataSource]="(providers$ | async) || []"
          [fields]="providerFields"
          [allowFiltering]="true"
          [filterType]="providerFilterType"
          popupHeight="240px"
          [enabled]="providerDropdownEnabled"
        ></ejs-dropdownlist>
      </div>
      <div class="col-md-3">
        <ejs-dropdownlist
          placeholder="Almacén de entrada"
          floatLabelType="Always"
          formControlName="warehouseId"
          [dataSource]="(warehouses$ | async) || []"
          [fields]="warehouseFields"
          [allowFiltering]="true"
          [filterType]="providerFilterType"
          popupHeight="240px"
          [enabled]="enabled$ | async"
        ></ejs-dropdownlist>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <ejs-textbox
          placeholder="Referencia"
          floatLabelType="Always"
          formControlName="referenceNumber"
          [enabled]="enabled$ | async"
        ></ejs-textbox>
      </div>
      <div class="col-md-9">
        <ejs-textbox
          placeholder="Comentario"
          floatLabelType="Always"
          formControlName="comment"
          [enabled]="enabled$ | async"
          [multiline]="true"
          [htmlAttributes]="{ rows: '2' }"
        ></ejs-textbox>
      </div>
    </div>
  </form>

  <div class="lines-bar">
    <div class="order-stat">
      <span class="order-stat__label">Items</span>
      <span class="order-stat__value order-stat__value--items">{{ totalItems }}</span>
    </div>
    <div class="order-stat">
      <span class="order-stat__label">Peso total</span>
      <span class="order-stat__value">{{ totalWeight | number: '1.3-3' }} Kgr.</span>
    </div>
  </div>

  <div id="goods-receipt-lines-grid">
    <ejs-grid
      #linesgrid
      [dataSource]="lines"
      [toolbar]="linesToolbar"
      [editSettings]="linesEditSettings"
      [allowFiltering]="false"
      [allowSorting]="false"
      [allowSelection]="true"
      [height]="linesHeight"
      [rowHeight]="32"
      clipMode="EllipsisWithTooltip"
      (dataBound)="onLinesDataBound()"
      (actionBegin)="onLineActionBegin($event)"
      (actionComplete)="onLineActionComplete($event)"
    >
      <e-columns>
        <e-column
          field="itemCode"
          headerText="Item"
          width="80"
          [visible]="false"
        ></e-column>
        <e-column
          field="description"
          headerText="Descripción"
          width="240"
          clipMode="EllipsisWithTooltip"
        ></e-column>
        <e-column
          field="taxCode"
          headerText="IVA"
          width="36"
          textAlign="Center"
        ></e-column>
        <e-column
          field="quantity"
          headerText="Cant."
          width="70"
          type="number"
          format="N3"
          textAlign="Right"
        ></e-column>
        <e-column
          field="transitQuantity"
          headerText="Tránsito"
          width="70"
          type="number"
          format="N3"
          textAlign="Right"
        ></e-column>
        <e-column
          field="unit"
          headerText="UND"
          width="44"
          textAlign="Center"
        ></e-column>
        <e-column
          field="costByUnit"
          headerText="Costo Unitario"
          width="85"
          type="number"
          format="N2"
          textAlign="Right"
        ></e-column>
        <e-column
          field="merchandiseDiscount"
          headerText="Desc. Art."
          width="62"
          textAlign="Right"
        >
          <ng-template #template let-data>
            {{ formatRate(data?.merchandiseDiscount) }}
          </ng-template>
        </e-column>
        <e-column
          field="vendorDiscount"
          headerText="Desc. Pro."
          width="62"
          textAlign="Right"
        >
          <ng-template #template let-data>
            {{ formatRate(data?.vendorDiscount) }}
          </ng-template>
        </e-column>
        <e-column
          field="totalCost"
          headerText="Costo Total"
          width="100"
          type="number"
          format="N2"
          textAlign="Right"
        ></e-column>
        <e-column
          field="billRowTypeName"
          headerText="Tipo Renglón"
          width="100"
        ></e-column>
        <e-column field="grRowNumber" [isPrimaryKey]="true" [visible]="false"></e-column>
      </e-columns>

      <ng-template #editSettingsTemplate>
        <div ngForm #lineForm="ngForm" class="po-edit-dialog">
          <div class="row">
            <div class="col-md-12">
              <ejs-dropdownlist
                name="merchandiseId"
                [(ngModel)]="lineData.merchandiseId"
                placeholder="Mercancía"
                floatLabelType="Always"
                [dataSource]="(merchandises$ | async) || []"
                [fields]="merchandiseFields"
                [allowFiltering]="true"
                [filterType]="providerFilterType"
                popupHeight="240px"
                [required]="true"
                (change)="onMerchandiseChange($event)"
              ></ejs-dropdownlist>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <ejs-dropdownlist
                name="taxCode"
                [(ngModel)]="lineData.taxCode"
                placeholder="IVA"
                floatLabelType="Always"
                [dataSource]="taxCodeOptions"
                [fields]="taxCodeFields"
                [allowFiltering]="true"
                [filterType]="providerFilterType"
                popupHeight="180px"
                (change)="onTaxCodeChange($event)"
              ></ejs-dropdownlist>
            </div>
            <div class="col-md-2">
              <ejs-numerictextbox
                name="quantity"
                [(ngModel)]="lineData.quantity"
                placeholder="Cantidad"
                floatLabelType="Always"
                format="n3"
                [decimals]="3"
                [showSpinButton]="false"
                (change)="onLineAmountChange()"
              ></ejs-numerictextbox>
            </div>
            <div class="col-md-2">
              <ejs-numerictextbox
                name="transitQuantity"
                [(ngModel)]="lineData.transitQuantity"
                placeholder="Tránsito"
                floatLabelType="Always"
                format="n3"
                [decimals]="3"
                [showSpinButton]="false"
              ></ejs-numerictextbox>
            </div>
            <div class="col-md-3">
              <ejs-dropdownlist
                name="unit"
                [(ngModel)]="lineData.unit"
                placeholder="UND"
                floatLabelType="Always"
                [dataSource]="lineUnitOptions"
                [fields]="unitFields"
                [allowFiltering]="true"
                [filterType]="providerFilterType"
                popupHeight="180px"
                (change)="onUnitChange()"
              ></ejs-dropdownlist>
            </div>
            <div class="col-md-2">
              <ejs-numerictextbox
                name="costByUnit"
                [(ngModel)]="lineData.costByUnit"
                placeholder="Costo unitario"
                floatLabelType="Always"
                format="n2"
                [decimals]="2"
                [showSpinButton]="false"
                (change)="onLineAmountChange()"
              ></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <ejs-numerictextbox
                name="merchandiseDiscountPct"
                [(ngModel)]="lineMerchDiscPct"
                placeholder="Desc. Art. %"
                floatLabelType="Always"
                format="n2"
                [decimals]="2"
                [showSpinButton]="false"
                (change)="onLineAmountChange()"
              ></ejs-numerictextbox>
            </div>
            <div class="col-md-4">
              <ejs-numerictextbox
                name="vendorDiscountPct"
                [(ngModel)]="lineVendorDiscPct"
                placeholder="Desc. Pro. %"
                floatLabelType="Always"
                format="n2"
                [decimals]="2"
                [showSpinButton]="false"
                (change)="onLineAmountChange()"
              ></ejs-numerictextbox>
            </div>
            <div class="col-md-4">
              <ejs-numerictextbox
                name="totalCost"
                [(ngModel)]="lineData.totalCost"
                placeholder="Costo total"
                floatLabelType="Always"
                format="n2"
                [decimals]="2"
                [showSpinButton]="false"
                [enabled]="false"
              ></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <ejs-textbox
                name="billRowTypeName"
                [(ngModel)]="lineData.billRowTypeName"
                placeholder="Tipo renglón"
                floatLabelType="Always"
              ></ejs-textbox>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </div>

  <div class="footer-section">
    <div class="row footer-grids-row">
      <div class="col-6">
        <div class="footer-grid">
          <div id="goods-receipt-discounts-grid">
            <ejs-grid
              #discountsgrid
              [dataSource]="discounts"
              [toolbar]="discountsToolbar"
              [editSettings]="discountsEditSettings"
              [allowFiltering]="false"
              [allowSorting]="false"
              [allowSelection]="true"
              [height]="discountsGridHeight"
              [rowHeight]="footerGridRowHeight"
              clipMode="EllipsisWithTooltip"
              (actionBegin)="onDiscountActionBegin($event)"
              (actionComplete)="onDiscountActionComplete($event)"
            >
              <e-columns>
                <e-column
                  field="description"
                  headerText="Descripción"
                  width="80"
                  minWidth="70"
                  clipMode="EllipsisWithTooltip"
                ></e-column>
                <e-column
                  field="discountRate"
                  headerText="%"
                  width="50"
                  minWidth="50"
                  textAlign="Right"
                >
                  <ng-template #template let-data>
                    {{ formatRate(data?.discountRate) }}
                  </ng-template>
                </e-column>
                <e-column
                  field="totalDiscount"
                  headerText="Descuento"
                  width="80"
                  minWidth="80"
                  type="number"
                  format="N2"
                  textAlign="Right"
                ></e-column>
                <e-column
                  field="subtotalGR"
                  headerText="Subtotal"
                  width="90"
                  minWidth="90"
                  type="number"
                  format="N2"
                  textAlign="Right"
                ></e-column>
                <e-column
                  field="grDiscountRowNumber"
                  [isPrimaryKey]="true"
                  [visible]="false"
                ></e-column>
              </e-columns>

              <ng-template #editSettingsTemplate>
                <div ngForm #discountForm="ngForm" class="po-edit-dialog">
                  <div class="row">
                    <div class="col-md-12">
                      <ejs-textbox
                        name="description"
                        [(ngModel)]="discountData.description"
                        placeholder="Descripción"
                        floatLabelType="Always"
                        [required]="true"
                      ></ejs-textbox>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <ejs-numerictextbox
                        name="discountRatePct"
                        [(ngModel)]="discountRatePct"
                        placeholder="% descuento"
                        floatLabelType="Always"
                        format="n2"
                        [decimals]="2"
                        [showSpinButton]="false"
                        (change)="onDiscountRateChange()"
                      ></ejs-numerictextbox>
                    </div>
                    <div class="col-md-4">
                      <ejs-numerictextbox
                        name="totalDiscount"
                        [(ngModel)]="discountData.totalDiscount"
                        placeholder="Descuento"
                        floatLabelType="Always"
                        format="n2"
                        [decimals]="2"
                        [showSpinButton]="false"
                        [enabled]="false"
                      ></ejs-numerictextbox>
                    </div>
                    <div class="col-md-4">
                      <ejs-numerictextbox
                        name="subtotalGR"
                        [(ngModel)]="discountData.subtotalGR"
                        placeholder="Subtotal"
                        floatLabelType="Always"
                        format="n2"
                        [decimals]="2"
                        [showSpinButton]="false"
                        [enabled]="false"
                      ></ejs-numerictextbox>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ejs-grid>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="footer-grid">
          <div id="goods-receipt-taxes-grid">
            <ejs-grid
              [dataSource]="taxes"
              [toolbar]="taxesToolbar"
              [allowFiltering]="false"
              [allowSorting]="false"
              [height]="discountsGridHeight"
              [rowHeight]="footerGridRowHeight"
              clipMode="EllipsisWithTooltip"
            >
              <e-columns>
                <e-column
                  field="taxCode"
                  headerText="Código"
                  width="70"
                  textAlign="Center"
                  [isPrimaryKey]="true"
                ></e-column>
                <e-column
                  field="taxRate"
                  headerText="Tasa"
                  width="70"
                  textAlign="Right"
                >
                  <ng-template #template let-data>
                    {{ formatRate(data?.taxRate) }}
                  </ng-template>
                </e-column>
                <e-column
                  field="taxBase"
                  headerText="Base"
                  width="90"
                  type="number"
                  format="N2"
                  textAlign="Right"
                ></e-column>
                <e-column
                  field="totalTax"
                  headerText="IVA"
                  width="90"
                  type="number"
                  format="N2"
                  textAlign="Right"
                ></e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="totals-strip">
    <div class="total-field">
      <span class="total-field__label">Neto</span>
      <span class="total-field__value">{{ netTotal | number: '1.2-2' }}</span>
    </div>
    <div class="total-field">
      <span class="total-field__label">Descuentos</span>
      <span class="total-field__value">{{ discountTotal | number: '1.2-2' }}</span>
    </div>
    <div class="total-field">
      <span class="total-field__label">IVA</span>
      <span class="total-field__value">{{ taxTotal | number: '1.2-2' }}</span>
    </div>
    <div class="total-field total-field--grand">
      <span class="total-field__label">TOTAL Recepción</span>
      <span class="total-field__value">{{ grandTotal | number: '1.2-2' }}</span>
    </div>
  </div>

  <div class="actions-strip">
    <button
      ejs-button
      (click)="onCancelClick()"
      [disabled]="!(enabled$ | async)"
    >
      Cancelar
    </button>
    <button
      ejs-button
      cssClass="e-primary"
      (click)="onAcceptClick()"
      [disabled]="!(enabled$ | async)"
    >
      Aceptar
    </button>
  </div>
</div>

<ng-template #placeholder>
  <div class="goods-receipt-placeholder">
    Seleccione una recepción de mercancías
  </div>
</ng-template>
