<div id="container" class="container">
  <div class="row">
    <div class="col-lg-4">
      <div id="classes-grid" [class.wrapper]="disabledGrid$ | async">
        <ejs-grid
          #grid
          [dataSource]="classes$ | async"
          [allowFiltering]="enabled$ | async"
          [cssClass]="(disabledGrid$ | async) ? 'disablegrid' : ''"
          [toolbar]="toolbar"
          [height]="screenHeight"
          [searchSettings]="searchSettings"
          (actionBegin)="actionBegin($any($event))"
          (toolbarClick)="onToolbarClick($any($event))"
          (rowSelected)="onRowSelected($any($event))"
          (rowDeselected)="onRowDeselected($any($event))"
          (recordDoubleClick)="onRecordDoubleClick($any($event))"
          (commandClick)="commandClick($any($event))"
        >
          <e-columns>
            <e-column width="50" [commands]="commands"></e-column>
            <e-column field="name" headerText="nombre" width="160"></e-column>
            <e-column
              field="fullName"
              headerText="nombre completo"
              width="220"
            ></e-column>
            <e-column
              field="classId"
              [isPrimaryKey]="true"
              [visible]="false"
            ></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
    <div class="col-lg-8">
      <ejs-tab id="tabs" #tabs loadOn="Init">
        <e-tabitems>
          <e-tabitem [header]="headerText[0]">
            <ng-template #content>
              <div class="row">
                <div class="col-lg-12">
                  <llion-class-detail></llion-class-detail>
                </div>
              </div>
            </ng-template>
          </e-tabitem>
          <e-tabitem [header]="headerText[1]">
            <ng-template #content>
              <llion-class-movements></llion-class-movements>
            </ng-template>
          </e-tabitem>
        </e-tabitems>
      </ejs-tab>
    </div>
  </div>
</div>
