<div id="container" class="container">
  <div class="row">
    <div class="col-lg-4">
      <div id="classes-grid">
        <ejs-treegrid
          #classesgrid
          [dataSource]="classRows"
          childMapping="subtasks"
          [loadChildOnDemand]="false"
          [treeColumnIndex]="0"
          [toolbar]="classesToolbar"
          [editSettings]="classesEditSettings"
          [height]="classesGridHeight"
          [rowHeight]="classesGridRowHeight"
          [allowSelection]="true"
          (actionBegin)="actionBegin($event)"
          (actionComplete)="actionComplete($event)"
          (rowDataBound)="rowDataBound($event)"
          (dataBound)="onDataBound()"
        >
          <e-columns>
            <e-column field="name" headerText="nombre" width="220"></e-column>
            <e-column
              field="isActive"
              headerText="activa"
              width="70"
              type="boolean"
              [displayAsCheckBox]="true"
              textAlign="Center"
            ></e-column>
            <e-column
              field="classId"
              [isPrimaryKey]="true"
              [visible]="false"
            ></e-column>
            <e-column field="fullName" [visible]="false"></e-column>
            <e-column field="parentId" [visible]="false"></e-column>
            <e-column field="parentFullName" [visible]="false"></e-column>
            <e-column field="subLevel" [visible]="false"></e-column>
          </e-columns>

          <ng-template #editSettingsTemplate let-data>
            <div ngForm #classForm="ngForm" class="class-edit-dialog">
              <input
                type="hidden"
                name="classId"
                [(ngModel)]="classData.classId"
              />
              <input
                type="hidden"
                name="parentId"
                [(ngModel)]="classData.parentId"
              />

              <div class="row">
                <div class="col-md-12">
                  <ejs-textbox
                    [value]="parentLabel"
                    placeholder="Clase padre"
                    floatLabelType="Always"
                    [enabled]="false"
                  ></ejs-textbox>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <ejs-textbox
                    name="name"
                    [(ngModel)]="classData.name"
                    placeholder="Nombre"
                    floatLabelType="Always"
                    [required]="true"
                  ></ejs-textbox>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <ejs-dropdownlist
                    name="isActive"
                    [(ngModel)]="classData.isActive"
                    [dataSource]="activeOptions"
                    [fields]="activeFields"
                    placeholder="Activa"
                    floatLabelType="Always"
                  ></ejs-dropdownlist>
                </div>
                <div class="col-md-6">
                  <ejs-numerictextbox
                    [value]="classData.subLevel ?? 0"
                    placeholder="Nivel"
                    floatLabelType="Always"
                    format="n0"
                    [decimals]="0"
                    [enabled]="false"
                  ></ejs-numerictextbox>
                </div>
              </div>
            </div>
          </ng-template>
        </ejs-treegrid>
      </div>
    </div>
  </div>
</div>
