<div id="container" class="container">
  <div class="row">
    <div class="col-lg-5">
      <div id="goods-receipt-grid">
        <ejs-grid
          #grid
          [dataSource]="(goodsReceipts$ | async) || []"
          [allowFiltering]="false"
          [allowSorting]="false"
          [toolbar]="toolbar"
          [height]="screenHeight"
          [searchSettings]="searchSettings"
          [selectionSettings]="selectionSettings"
          [allowTextWrap]="false"
          clipMode="EllipsisWithTooltip"
          (actionBegin)="actionBegin($event)"
          (toolbarClick)="onToolbarClick($event)"
          (rowSelected)="onRowSelected($event)"
          (rowDeselected)="onRowDeselected($event)"
          (recordDoubleClick)="onRecordDoubleClick($event)"
          (commandClick)="commandClick($event)"
        >
          <e-columns>
            <e-column width="50" [commands]="commands" clipMode="Clip"></e-column>
            <e-column
              field="grNumber"
              headerText="Nº recepción"
              width="110"
              clipMode="EllipsisWithTooltip"
            ></e-column>
            <e-column
              field="providerName"
              headerText="Proveedor"
              width="200"
              clipMode="EllipsisWithTooltip"
            ></e-column>
            <e-column
              field="issueDate"
              headerText="Emisión"
              type="date"
              format="dd/MM/yyyy"
              width="110"
            ></e-column>
            <e-column
              field="grId"
              [isPrimaryKey]="true"
              [visible]="false"
            ></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
    <div class="col-lg-7 goods-receipt-detail-col" [style.height.px]="panelHeight">
      <llion-goods-receipt-detail></llion-goods-receipt-detail>
    </div>
  </div>
</div>
