<div class="wrapper" [class.parameters-grid-disabled]="!parametersGridEnabled">
  <div id="organization-parameters-grid">
    <ejs-treegrid
      #parametersgrid
      [dataSource]="parameterRows"
      childMapping="subtasks"
      [loadChildOnDemand]="false"
      [treeColumnIndex]="0"
      [toolbar]="parametersToolbar"
      [editSettings]="parametersEditSettings"
      [height]="parametersGridHeight"
      [rowHeight]="parametersGridRowHeight"
      [width]="'100%'"
      [allowSelection]="true"
      (actionBegin)="actionBegin($event)"
      (actionComplete)="actionComplete($event)"
      (toolbarClick)="onToolbarClick($event)"
      (rowDataBound)="rowDataBound($event)"
      (queryCellInfo)="queryCellInfo($event)"
      (dataBound)="onDataBound()"
    >
      <e-columns>
        <e-column
          field="description"
          headerText="Descripción"
          width="70%"
        ></e-column>
        <e-column
          field="value"
          headerText="Valor"
          width="30%"
          [valueAccessor]="valueAccessor"
          clipMode="EllipsisWithTooltip"
        ></e-column>
        <e-column
          field="treeId"
          [isPrimaryKey]="true"
          [visible]="false"
        ></e-column>
        <e-column field="parameterId" [visible]="false"></e-column>
        <e-column field="parameterCode" [visible]="false"></e-column>
        <e-column field="parameterType" [visible]="false"></e-column>
        <e-column field="module" [visible]="false"></e-column>
        <e-column field="parentId" [visible]="false"></e-column>
        <e-column field="parameterLevel" [visible]="false"></e-column>
        <e-column field="organizationId" [visible]="false"></e-column>
      </e-columns>

      <ng-template #editSettingsTemplate let-data>
        <div ngForm #parameterForm="ngForm" class="parameter-edit-dialog">
          <input
            type="hidden"
            name="parameterId"
            [(ngModel)]="parameterData.parameterId"
          />
          <input
            type="hidden"
            name="parameterType"
            [(ngModel)]="parameterData.parameterType"
          />

          <div class="row">
            <div class="col-md-12">
              <ejs-textbox
                id="description"
                name="description"
                [(ngModel)]="parameterData.description"
                placeholder="Descripción"
                floatLabelType="Always"
                [enabled]="false"
              ></ejs-textbox>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ejs-textbox
                [value]="selectedType?.description || parameterData.parameterType"
                placeholder="Tipo"
                floatLabelType="Always"
                [enabled]="false"
              ></ejs-textbox>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ejs-dropdownlist
                *ngIf="valueEditorKind === 'bit'"
                id="value"
                name="value"
                [(ngModel)]="parameterData.value"
                [dataSource]="yesNoOptions"
                [fields]="yesNoFields"
                placeholder="Valor"
                floatLabelType="Always"
                [required]="true"
              ></ejs-dropdownlist>

              <ejs-dropdownlist
                *ngIf="parameterData.parameterType === '3'"
                id="value"
                name="value"
                [(ngModel)]="parameterData.value"
                [dataSource]="weekdayOptions"
                [fields]="yesNoFields"
                placeholder="Valor"
                floatLabelType="Always"
                [required]="true"
              ></ejs-dropdownlist>

              <ejs-numerictextbox
                *ngIf="valueEditorKind === 'int' && parameterData.parameterType !== '3'"
                id="value"
                name="value"
                [(ngModel)]="numericValue"
                placeholder="Valor"
                floatLabelType="Always"
                format="n0"
                [decimals]="0"
                [validateDecimalOnType]="true"
                [showSpinButton]="false"
              ></ejs-numerictextbox>

              <ejs-numerictextbox
                *ngIf="valueEditorKind === 'decimal'"
                id="value"
                name="value"
                [(ngModel)]="numericValue"
                placeholder="Valor"
                floatLabelType="Always"
                [format]="'n' + decimalPlaces"
                [decimals]="decimalPlaces"
                [validateDecimalOnType]="true"
                [showSpinButton]="false"
              ></ejs-numerictextbox>

              <ejs-datepicker
                *ngIf="valueEditorKind === 'date'"
                id="value"
                name="value"
                [(ngModel)]="dateValue"
                placeholder="Valor"
                floatLabelType="Always"
                format="dd/MM/yyyy"
              ></ejs-datepicker>

              <ejs-textbox
                *ngIf="valueEditorKind === 'text'"
                id="value"
                name="value"
                [(ngModel)]="parameterData.value"
                placeholder="Valor"
                floatLabelType="Always"
                [required]="true"
              ></ejs-textbox>
            </div>
          </div>

          <div class="value-hint" *ngIf="valueHint">{{ valueHint }}</div>
        </div>
      </ng-template>
    </ejs-treegrid>
  </div>
</div>
