<div id="container" class="container">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div id="module-title" class="module-title">
             <h5>usuarios</h5>
          </div>
          </div>
        </div>
        <div id="users-grid">
          <ejs-grid
            [dataSource]="users$ | async" 
            #grid
            [toolbar]="toolbar"
            [searchSettings]="searchSettings"
            [selectionSettings]="selectionOptions"
            (actionBegin)="actionBegin($event)"
            (toolbarClick)="onToolbarClick($event)"
            (rowSelected)="onRowSelected($event)"
            (rowDeselected)="onRowDeselected($event)"
            (recordDoubleClick)="onRecordDoubleClick($event)"
            (commandClick)="commandClick($event)"
            >
            <e-columns>
              <e-column width="50" [commands]="commands"></e-column>
              <e-column
                field="displayName"
                headerText="Name"
                width="150"
              ></e-column>
              <e-column
                field="userName"
                headerText="User Name"
                width="200"
              ></e-column>
              <e-column
                field="id"
                [isPrimaryKey]="true"
                [visible]="false"
              ></e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>
      <div class="col-lg-8">
      <ejs-tab id="tabs" #tabs>
        <e-tabitems>
          <e-tabitem [header]="headerText[0]">
            <div class="row">
              <div class="col-lg-12">
                <ng-template #content>
                  <div class="row">
                    <div class="col-lg-6">
                      <llion-user-detail></llion-user-detail>
                    </div>
                    <div class="col-lg-6">
                      <llion-user-detail-input></llion-user-detail-input>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </e-tabitem>
          <!-- <e-tabitem [header]="headerText[1]">
            <ng-template #content></ng-template>
          </e-tabitem>
          <e-tabitem [header]="headerText[2]">
            <ng-template #content></ng-template>
          </e-tabitem>
          <e-tabitem [header]="headerText[3]">
            <ng-template #content></ng-template>
          </e-tabitem> -->
        </e-tabitems>
      </ejs-tab>
    </div>
  </div>
  <div id="ej2Toast" #toast></div>
  </div>
</div>
