@use "variables" as *;

.e-checkbox-wrapper {
  margin-top: 20px;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.taxes-row {
  margin-top: 16px;
  flex: 0 0 auto;
}
