<div id="email-grid" [class.wrapper]="!gridEnabled">
  <ejs-grid
    #emailgrid
    [dataSource]="(emails$ | async) || []"
    [toolbar]="toolbar"
    [editSettings]="editSettings"
    [cssClass]="gridEnabled ? '' : 'disablegrid'"
    [height]="gridHeight"
    [width]="'100%'"
    clipMode="EllipsisWithTooltip"
    (actionBegin)="actionBegin($event)"
    (actionComplete)="actionComplete($event)"
  >
    <e-columns>
      <e-column
        field="emailAddress"
        headerText="Correo electrónico"
        width="100%"
      ></e-column>
      <e-column
        field="emailId"
        [isPrimaryKey]="true"
        [visible]="false"
      ></e-column>
      <e-column field="organizationId" [visible]="false"></e-column>
      <e-column field="entityId" [visible]="false"></e-column>
    </e-columns>

    <ng-template #editSettingsTemplate let-data>
      <div ngForm #emailForm="ngForm" class="child-edit-dialog">
        <input
          type="hidden"
          name="emailId"
          [(ngModel)]="emailData.emailId"
        />
        <input
          type="hidden"
          name="organizationId"
          [(ngModel)]="emailData.organizationId"
        />
        <input
          type="hidden"
          name="entityId"
          [(ngModel)]="emailData.entityId"
        />

        <div class="row">
          <div class="col-md-12">
            <ejs-textbox
              id="emailAddress"
              name="emailAddress"
              [(ngModel)]="emailData.emailAddress"
              placeholder="correo electrónico"
              floatLabelType="Always"
              [required]="true"
            ></ejs-textbox>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</div>
