<div class="wrapper-detail" *ngIf="visible$ | async; else placeholder">
  <form
    id="purchase-detail-form"
    class="purchase-form"
    [formGroup]="orderForm"
    *ngIf="order$ | async as order"
  >
    <div class="title-strip">
      <span class="title-strip__label">COMPRA</span>
      <div class="title-strip__actions">
        <button
          type="button"
          class="print-icon-btn"
          [disabled]="currentBillId <= 0 || printBusy"
          (click)="printPurchase()"
          title="Imprimir"
        >
          <img src="assets/images/icons8-print-24.png" alt="Imprimir" />
        </button>
        <button
          type="button"
          class="print-icon-btn"
          (click)="openInvoiceDocument()"
          [title]="invoiceButtonTitle"
        >
          <img src="assets/images/icons8-import-pdf-24.png" alt="Importar factura" />
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <ejs-textbox
          cssClass="po-number-field"
          placeholder="Compra No."
          floatLabelType="Always"
          formControlName="billNumber"
          [enabled]="false"
        ></ejs-textbox>
      </div>
      <div class="col-md-3">
        <ejs-datepicker
          format="dd/MM/yyyy"
          placeholder="Emisión"
          floatLabelType="Always"
          formControlName="issueDate"
          [enabled]="enabled$ | async"
          (change)="onIssueDateChange()"
        ></ejs-datepicker>
      </div>
      <div class="col-md-3">
        <ejs-datepicker
          format="dd/MM/yyyy"
          placeholder="Vence"
          floatLabelType="Always"
          formControlName="dueDate"
          [enabled]="false"
        ></ejs-datepicker>
      </div>
      <div class="col-md-3">
        <ejs-textbox
          placeholder="Estatus"
          floatLabelType="Always"
          formControlName="statusName"
          [enabled]="false"
        ></ejs-textbox>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <ejs-dropdownlist
          placeholder="Proveedor"
          floatLabelType="Always"
          formControlName="providerId"
          [dataSource]="(providers$ | async) || []"
          [fields]="providerFields"
          [allowFiltering]="true"
          [filterType]="providerFilterType"
          popupHeight="240px"
          [enabled]="providerDropdownEnabled"
          (change)="onProviderChange($event)"
        ></ejs-dropdownlist>
      </div>
      <div class="col-md-3">
        <ejs-dropdownlist
          placeholder="Condición de crédito"
          floatLabelType="Always"
          formControlName="creditCash"
          [dataSource]="creditCashOptions"
          [fields]="creditCashFields"
          popupHeight="140px"
          [enabled]="false"
          (change)="onCreditCashChange()"
        ></ejs-dropdownlist>
      </div>
      <div class="col-md-3">
        <ejs-dropdownlist
          placeholder="Plazo"
          floatLabelType="Always"
          formControlName="creditTerm"
          [dataSource]="(terms$ | async) || []"
          [fields]="termFields"
          [allowFiltering]="true"
          [filterType]="providerFilterType"
          [showClearButton]="true"
          popupHeight="240px"
          [enabled]="false"
          (change)="onCreditTermChange()"
        ></ejs-dropdownlist>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <ejs-datepicker
          format="dd/MM/yyyy"
          placeholder="Emisión fiscal"
          floatLabelType="Always"
          formControlName="issueDateTax"
          [enabled]="enabled$ | async"
        ></ejs-datepicker>
      </div>
      <div class="col-md-3">
        <ejs-textbox
          placeholder="Control IVA"
          floatLabelType="Always"
          formControlName="taxControlNumber"
          [enabled]="enabled$ | async"
        ></ejs-textbox>
      </div>
      <div class="col-md-3">
        <ejs-textbox
          placeholder="Serie"
          floatLabelType="Always"
          formControlName="billSeriesCode"
          [enabled]="enabled$ | async"
        ></ejs-textbox>
      </div>
      <div class="col-md-3">
        <ejs-dropdownlist
          placeholder="Almacén"
          floatLabelType="Always"
          formControlName="warehouseId"
          [dataSource]="(warehouses$ | async) || []"
          [fields]="warehouseFields"
          [allowFiltering]="true"
          [filterType]="providerFilterType"
          popupHeight="240px"
          [enabled]="enabled$ | async"
        ></ejs-dropdownlist>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <ejs-textbox
          placeholder="Referencia"
          floatLabelType="Always"
          formControlName="referenceNumber"
          [enabled]="enabled$ | async"
        ></ejs-textbox>
      </div>
      <div class="col-md-5">
        <ejs-dropdownlist
          placeholder="Cuenta contable"
          floatLabelType="Always"
          formControlName="accountId"
          [dataSource]="(accounts$ | async) || []"
          [fields]="accountFields"
          [allowFiltering]="true"
          [filterType]="providerFilterType"
          [showClearButton]="true"
          popupHeight="280px"
          [enabled]="enabled$ | async"
        ></ejs-dropdownlist>
      </div>
      <div class="col-md-4">
        <ejs-dropdownlist
          placeholder="Clase"
          floatLabelType="Always"
          formControlName="classId"
          [dataSource]="(classes$ | async) || []"
          [fields]="classFields"
          [allowFiltering]="true"
          [filterType]="providerFilterType"
          [showClearButton]="true"
          popupHeight="280px"
          [enabled]="enabled$ | async"
        ></ejs-dropdownlist>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ejs-textbox
          placeholder="Comentario"
          floatLabelType="Always"
          formControlName="comment"
          [enabled]="enabled$ | async"
          [multiline]="true"
          [htmlAttributes]="{ rows: '2' }"
        ></ejs-textbox>
      </div>
    </div>
  </form>

  <div class="lines-bar">
    <div class="order-stat">
      <span class="order-stat__label">Items</span>
      <span class="order-stat__value order-stat__value--items">{{ totalItems }}</span>
    </div>
    <div class="order-stat">
      <span class="order-stat__label">Peso total</span>
      <span class="order-stat__value">{{ totalWeight | number: '1.3-3' }} Kgr.</span>
    </div>
  </div>

  <div id="purchase-lines-grid">
    <ejs-grid
      #linesgrid
      [dataSource]="lines"
      [toolbar]="linesToolbar"
      [editSettings]="linesEditSettings"
      [allowFiltering]="false"
      [allowSorting]="false"
      [allowSelection]="true"
      [height]="linesHeight"
      [rowHeight]="32"
      clipMode="EllipsisWithTooltip"
      (dataBound)="onLinesDataBound()"
      (actionBegin)="onLineActionBegin($event)"
      (actionComplete)="onLineActionComplete($event)"
    >
      <e-columns>
        <e-column
          field="itemCode"
          headerText="Item"
          width="80"
          [visible]="false"
        ></e-column>
        <e-column
          field="description"
          headerText="Descripción"
          width="240"
          clipMode="EllipsisWithTooltip"
        ></e-column>
        <e-column
          field="taxCode"
          headerText="IVA"
          width="36"
          textAlign="Center"
        ></e-column>
        <e-column
          field="quantity"
          headerText="Cant."
          width="70"
          type="number"
          format="N3"
          textAlign="Right"
        ></e-column>
        <e-column
          field="unit"
          headerText="UND"
          width="44"
          textAlign="Center"
        ></e-column>
        <e-column
          field="costByUnit"
          headerText="Costo Unitario"
          width="85"
          type="number"
          format="N2"
          textAlign="Right"
        ></e-column>
        <e-column
          field="merchandiseDiscount"
          headerText="Desc. Art."
          width="62"
          textAlign="Right"
        >
          <ng-template #template let-data>
            {{ formatRate(data?.merchandiseDiscount) }}
          </ng-template>
        </e-column>
        <e-column
          field="vendorDiscount"
          headerText="Desc. Pro."
          width="62"
          textAlign="Right"
        >
          <ng-template #template let-data>
            {{ formatRate(data?.vendorDiscount) }}
          </ng-template>
        </e-column>
        <e-column
          field="totalCost"
          headerText="Costo Total"
          width="100"
          type="number"
          format="N2"
          textAlign="Right"
        ></e-column>
        <e-column
          field="billRowTypeName"
          headerText="Tipo Renglón"
          width="100"
        ></e-column>
        <e-column field="billRowNumber" [isPrimaryKey]="true" [visible]="false"></e-column>
      </e-columns>

      <ng-template #editSettingsTemplate>
        <div ngForm #lineForm="ngForm" class="po-edit-dialog">
          <div class="row">
            <div class="col-md-12">
              <ejs-dropdownlist
                name="merchandiseId"
                [(ngModel)]="lineData.merchandiseId"
                placeholder="Mercancía"
                floatLabelType="Always"
                [dataSource]="(merchandises$ | async) || []"
                [fields]="merchandiseFields"
                [allowFiltering]="true"
                [filterType]="providerFilterType"
                popupHeight="240px"
                [required]="true"
                (change)="onMerchandiseChange($event)"
              ></ejs-dropdownlist>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <ejs-dropdownlist
                name="taxCode"
                [(ngModel)]="lineData.taxCode"
                placeholder="IVA"
                floatLabelType="Always"
                [dataSource]="taxCodeOptions"
                [fields]="taxCodeFields"
                [allowFiltering]="true"
                [filterType]="providerFilterType"
                popupHeight="180px"
                (change)="onTaxCodeChange($event)"
              ></ejs-dropdownlist>
            </div>
            <div class="col-md-3">
              <ejs-numerictextbox
                name="quantity"
                [(ngModel)]="lineData.quantity"
                placeholder="Cantidad"
                floatLabelType="Always"
                format="n3"
                [decimals]="3"
                [showSpinButton]="false"
                (change)="onLineAmountChange()"
              ></ejs-numerictextbox>
            </div>
            <div class="col-md-3">
              <ejs-dropdownlist
                name="unit"
                [(ngModel)]="lineData.unit"
                placeholder="UND"
                floatLabelType="Always"
                [dataSource]="lineUnitOptions"
                [fields]="unitFields"
                [allowFiltering]="true"
                [filterType]="providerFilterType"
                popupHeight="180px"
                (change)="onUnitChange()"
              ></ejs-dropdownlist>
            </div>
            <div class="col-md-2">
              <ejs-numerictextbox
                name="costByUnit"
                [(ngModel)]="lineData.costByUnit"
                placeholder="Costo unitario"
                floatLabelType="Always"
                format="n2"
                [decimals]="2"
                [showSpinButton]="false"
                (change)="onLineAmountChange()"
              ></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <ejs-numerictextbox
                name="merchandiseDiscountPct"
                [(ngModel)]="lineMerchDiscPct"
                placeholder="Desc. Art. %"
                floatLabelType="Always"
                format="n2"
                [decimals]="2"
                [showSpinButton]="false"
                (change)="onLineAmountChange()"
              ></ejs-numerictextbox>
            </div>
            <div class="col-md-4">
              <ejs-numerictextbox
                name="vendorDiscountPct"
                [(ngModel)]="lineVendorDiscPct"
                placeholder="Desc. Pro. %"
                floatLabelType="Always"
                format="n2"
                [decimals]="2"
                [showSpinButton]="false"
                (change)="onLineAmountChange()"
              ></ejs-numerictextbox>
            </div>
            <div class="col-md-4">
              <ejs-numerictextbox
                name="totalCost"
                [(ngModel)]="lineData.totalCost"
                placeholder="Costo total"
                floatLabelType="Always"
                format="n2"
                [decimals]="2"
                [showSpinButton]="false"
                [enabled]="false"
              ></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <ejs-textbox
                name="billRowTypeName"
                [(ngModel)]="lineData.billRowTypeName"
                placeholder="Tipo renglón"
                floatLabelType="Always"
              ></ejs-textbox>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </div>

  <div class="footer-section">
    <div class="row footer-grids-row">
      <div class="col-6">
        <div class="footer-grid">
          <div id="purchase-discounts-grid">
            <ejs-grid
              #discountsgrid
              [dataSource]="discounts"
              [toolbar]="discountsToolbar"
              [editSettings]="discountsEditSettings"
              [allowFiltering]="false"
              [allowSorting]="false"
              [allowSelection]="true"
              [height]="discountsGridHeight"
              [rowHeight]="footerGridRowHeight"
              clipMode="EllipsisWithTooltip"
              (actionBegin)="onDiscountActionBegin($event)"
              (actionComplete)="onDiscountActionComplete($event)"
            >
              <e-columns>
                <e-column
                  field="description"
                  headerText="Descripción"
                  width="80"
                  minWidth="70"
                  clipMode="EllipsisWithTooltip"
                ></e-column>
                <e-column
                  field="discountRate"
                  headerText="%"
                  width="50"
                  minWidth="50"
                  textAlign="Right"
                >
                  <ng-template #template let-data>
                    {{ formatRate(data?.discountRate) }}
                  </ng-template>
                </e-column>
                <e-column
                  field="totalDiscount"
                  headerText="Descuento"
                  width="80"
                  minWidth="80"
                  type="number"
                  format="N2"
                  textAlign="Right"
                ></e-column>
                <e-column
                  field="subtotalBill"
                  headerText="Subtotal"
                  width="90"
                  minWidth="90"
                  type="number"
                  format="N2"
                  textAlign="Right"
                ></e-column>
                <e-column
                  field="billDiscountRowNumber"
                  [isPrimaryKey]="true"
                  [visible]="false"
                ></e-column>
              </e-columns>

              <ng-template #editSettingsTemplate>
                <div ngForm #discountForm="ngForm" class="po-edit-dialog">
                  <div class="row">
                    <div class="col-md-12">
                      <ejs-textbox
                        name="description"
                        [(ngModel)]="discountData.description"
                        placeholder="Descripción"
                        floatLabelType="Always"
                        [required]="true"
                      ></ejs-textbox>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <ejs-numerictextbox
                        name="discountRatePct"
                        [(ngModel)]="discountRatePct"
                        placeholder="% descuento"
                        floatLabelType="Always"
                        format="n2"
                        [decimals]="2"
                        [showSpinButton]="false"
                        (change)="onDiscountRateChange()"
                      ></ejs-numerictextbox>
                    </div>
                    <div class="col-md-4">
                      <ejs-numerictextbox
                        name="totalDiscount"
                        [(ngModel)]="discountData.totalDiscount"
                        placeholder="Descuento"
                        floatLabelType="Always"
                        format="n2"
                        [decimals]="2"
                        [showSpinButton]="false"
                        [enabled]="false"
                      ></ejs-numerictextbox>
                    </div>
                    <div class="col-md-4">
                      <ejs-numerictextbox
                        name="subtotalBill"
                        [(ngModel)]="discountData.subtotalBill"
                        placeholder="Subtotal"
                        floatLabelType="Always"
                        format="n2"
                        [decimals]="2"
                        [showSpinButton]="false"
                        [enabled]="false"
                      ></ejs-numerictextbox>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ejs-grid>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="footer-grid">
          <div id="purchase-taxes-grid">
            <ejs-grid
              [dataSource]="taxes"
              [toolbar]="taxesToolbar"
              [allowFiltering]="false"
              [allowSorting]="false"
              [height]="discountsGridHeight"
              [rowHeight]="footerGridRowHeight"
              clipMode="EllipsisWithTooltip"
            >
              <e-columns>
                <e-column
                  field="taxCode"
                  headerText="Código"
                  width="70"
                  textAlign="Center"
                  [isPrimaryKey]="true"
                ></e-column>
                <e-column
                  field="taxRate"
                  headerText="Tasa"
                  width="70"
                  textAlign="Right"
                >
                  <ng-template #template let-data>
                    {{ formatRate(data?.taxRate) }}
                  </ng-template>
                </e-column>
                <e-column
                  field="taxBase"
                  headerText="Base"
                  width="90"
                  type="number"
                  format="N2"
                  textAlign="Right"
                ></e-column>
                <e-column
                  field="totalTax"
                  headerText="IVA"
                  width="90"
                  type="number"
                  format="N2"
                  textAlign="Right"
                ></e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="totals-strip">
    <div class="total-field">
      <span class="total-field__label">Neto</span>
      <span class="total-field__value">{{ netTotal | number: '1.2-2' }}</span>
    </div>
    <div class="total-field">
      <span class="total-field__label">Descuentos</span>
      <span class="total-field__value">{{ discountTotal | number: '1.2-2' }}</span>
    </div>
    <div class="total-field">
      <span class="total-field__label">IVA</span>
      <span class="total-field__value">{{ taxTotal | number: '1.2-2' }}</span>
    </div>
    <div class="total-field total-field--grand">
      <span class="total-field__label">TOTAL Compra</span>
      <span class="total-field__value">{{ grandTotal | number: '1.2-2' }}</span>
    </div>
  </div>

  <div class="actions-strip">
    <button
      ejs-button
      (click)="onCancelClick()"
      [disabled]="!(enabled$ | async)"
    >
      Cancelar
    </button>
    <button
      ejs-button
      cssClass="e-primary"
      (click)="onAcceptClick()"
      [disabled]="!(enabled$ | async)"
    >
      Aceptar
    </button>
  </div>

  <div class="invoice-reader-overlay" *ngIf="invoiceReaderOpen">
    <div class="invoice-reader-dialog">
      <div class="invoice-reader-header">
        <h6>{{ hasLinkedInvoice && !invoiceResult ? 'Factura de la compra' : 'Importar factura' }}</h6>
        <button ejs-button type="button" cssClass="e-flat" (click)="closeInvoiceDocument()">
          Cerrar
        </button>
      </div>
      <div class="invoice-reader-body">
        <div class="invoice-reader-preview">
          <div class="invoice-reader-empty" *ngIf="!invoicePreviewUrl && !invoiceBusy">
            Seleccione un PDF o una imagen de la factura
          </div>
          <div class="invoice-reader-empty" *ngIf="invoiceBusy">Leyendo documento…</div>
          <iframe
            *ngIf="invoicePreviewUrl && invoicePreviewKind === 'pdf'"
            [src]="invoicePreviewUrl"
            title="Factura PDF"
          ></iframe>
          <img
            *ngIf="invoicePreviewUrl && invoicePreviewKind === 'image'"
            [src]="invoicePreviewUrl"
            alt="Factura"
          />
        </div>
        <div class="invoice-reader-side">
          <input
            #invoiceFileInput
            type="file"
            accept=".pdf,.png,.jpg,.jpeg,.gif,.bmp,.tif,.tiff,.webp,application/pdf,image/*"
            (change)="onInvoiceFilePicked($event)"
          />
          <p class="invoice-file-name" *ngIf="invoiceFileName">{{ invoiceFileName }}</p>
          <div
            class="invoice-badge"
            *ngIf="invoiceResult"
            [class.is-valid]="invoiceResult.isValidInvoice"
            [class.is-invalid]="!invoiceResult.isValidInvoice"
          >
            {{ invoiceResult.isValidInvoice ? 'Factura válida' : 'No es una factura válida' }}
            <span *ngIf="invoiceResult.confidence != null">
              ({{ invoiceResult.confidence }}%)
            </span>
          </div>
          <ul class="invoice-checks" *ngIf="invoiceResult?.checks as checks">
            <li *ngFor="let check of checks">{{ check }}</li>
          </ul>
          <ul class="invoice-issues" *ngIf="invoiceResult?.issues as issues">
            <li *ngFor="let issue of issues">{{ issue }}</li>
          </ul>
          <div class="invoice-reader-actions">
            <button
              ejs-button
              cssClass="e-primary"
              type="button"
              [disabled]="invoiceBusy || !invoiceResult?.isValidInvoice"
              (click)="saveValidatedInvoice()"
            >
              Guardar documento
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #placeholder>
  <div class="purchase-placeholder">
    Seleccione una compra
  </div>
</ng-template>

<ejs-dialog
  #paymentDialog
  cssClass="payment-condition-dialog"
  [visible]="paymentDialogVisible"
  [isModal]="true"
  [showCloseIcon]="true"
  width="640px"
  header="CONDICIÓN DE PAGO"
  [buttons]="paymentDialogButtons"
  (close)="cancelPaymentDialog()"
>
  <form [formGroup]="paymentForm" class="payment-condition-form">
    <div class="row">
      <div class="col-md-6">
        <ejs-dropdownlist
          placeholder="Condición"
          floatLabelType="Always"
          formControlName="creditCash"
          [dataSource]="creditCashOptions"
          [fields]="creditCashFields"
          popupHeight="140px"
          (change)="onPaymentConditionChange()"
        ></ejs-dropdownlist>
      </div>
      <div class="col-md-6" *ngIf="isPaymentCash">
        <ejs-dropdownlist
          placeholder="Caja"
          floatLabelType="Always"
          formControlName="paymentTreasuryId"
          [dataSource]="(treasuries$ | async) || []"
          [fields]="treasuryFields"
          [allowFiltering]="true"
          [filterType]="providerFilterType"
          popupHeight="220px"
        ></ejs-dropdownlist>
      </div>
    </div>

    <div class="payment-panel" *ngIf="!isPaymentCash">
      <div class="payment-panel__title">Crédito</div>
      <ejs-dropdownlist
        placeholder="Tipo de crédito"
        floatLabelType="Always"
        formControlName="creditType"
        [dataSource]="creditTypeOptions"
        [fields]="creditCashFields"
        popupHeight="140px"
        (change)="onPaymentCreditTypeChange()"
      ></ejs-dropdownlist>
      <div class="payment-credit-row" *ngIf="isPaymentVencimiento">
        <span class="payment-credit-row__label">Con vencimiento al :</span>
        <ejs-datepicker
          format="dd/MM/yyyy"
          placeholder="Vencimiento"
          floatLabelType="Never"
          formControlName="dueDate"
          [min]="paymentDueMinDate"
        ></ejs-datepicker>
      </div>
      <div class="payment-giros" *ngIf="isPaymentGiros">
        <div class="payment-cash-row">
          <span class="payment-cash-row__label">Anticipo :</span>
          <ejs-numerictextbox
            formControlName="draftDownpayment"
            format="n2"
            [decimals]="2"
            [min]="0"
            [showSpinButton]="false"
            (change)="onPaymentDraftChange()"
          ></ejs-numerictextbox>
        </div>
        <div class="payment-cash-row">
          <span class="payment-cash-row__label">Serie numérica :</span>
          <ejs-textbox formControlName="draftSerieNumber"></ejs-textbox>
        </div>
        <div class="payment-cash-row">
          <span class="payment-cash-row__label">Número de giros :</span>
          <ejs-numerictextbox
            formControlName="draftsNumber"
            format="n0"
            [decimals]="0"
            [min]="1"
            [showSpinButton]="false"
            (change)="onPaymentDraftChange()"
          ></ejs-numerictextbox>
        </div>
        <div class="payment-cash-row">
          <span class="payment-cash-row__label">Periodo (días) :</span>
          <ejs-numerictextbox
            formControlName="draftsPeriod"
            format="n0"
            [decimals]="0"
            [min]="1"
            [showSpinButton]="false"
            (change)="onPaymentDraftChange()"
          ></ejs-numerictextbox>
        </div>
        <div class="payment-cash-row">
          <span class="payment-cash-row__label">Cálculo de interés :</span>
          <ejs-dropdownlist
            formControlName="compoundInterest"
            [dataSource]="interestCalcOptions"
            [fields]="creditCashFields"
            popupHeight="120px"
            (change)="onPaymentDraftChange()"
          ></ejs-dropdownlist>
        </div>
        <div class="payment-cash-row">
          <span class="payment-cash-row__label">Tasa de interés (%) :</span>
          <ejs-numerictextbox
            formControlName="interestRatePct"
            format="n4"
            [decimals]="4"
            [min]="0"
            [showSpinButton]="false"
            (change)="onPaymentDraftChange()"
          ></ejs-numerictextbox>
        </div>
        <div class="payment-cash-row">
          <span class="payment-cash-row__label">Interés :</span>
          <ejs-numerictextbox
            formControlName="interestAmount"
            format="n2"
            [decimals]="2"
            [showSpinButton]="false"
          ></ejs-numerictextbox>
        </div>
        <div class="payment-giros__hint">
          El interés se calcula sobre el saldo (total − anticipo), a la tasa
          por giro. Simple: saldo × tasa × giros. Compuesto: saldo × ((1 + tasa)^giros − 1).
        </div>
      </div>
    </div>

    <div class="payment-panel" *ngIf="isPaymentCash">
      <div class="payment-panel__title">Contado</div>
      <div class="payment-cash-row">
        <span class="payment-cash-row__label">Forma de Pago :</span>
        <ejs-dropdownlist
          formControlName="paymentType"
          [dataSource]="purchasePaymentTypes"
          [fields]="creditCashFields"
          popupHeight="160px"
          (change)="onPaymentFormChange()"
        ></ejs-dropdownlist>
      </div>
      <div class="payment-cash-row">
        <span class="payment-cash-row__label">Nombre de Pago :</span>
        <ejs-textbox formControlName="paymentName"></ejs-textbox>
      </div>
      <div class="payment-cash-row">
        <span class="payment-cash-row__label">Número de Pago :</span>
        <ejs-textbox formControlName="paymentDocument"></ejs-textbox>
      </div>
      <div class="payment-cash-row">
        <span class="payment-cash-row__label">Beneficiario :</span>
        <ejs-textbox formControlName="beneficiary"></ejs-textbox>
      </div>
      <div class="payment-cash-row">
        <span class="payment-cash-row__label">Importe :</span>
        <ejs-numerictextbox
          formControlName="amount"
          format="n2"
          [decimals]="2"
          [showSpinButton]="false"
          [enabled]="false"
        ></ejs-numerictextbox>
      </div>
      <div class="payment-cash-row">
        <span class="payment-cash-row__label">Fecha vencimiento :</span>
        <ejs-datepicker
          format="dd/MM/yyyy"
          formControlName="paymentDueDate"
          [min]="paymentDueMinDate"
        ></ejs-datepicker>
      </div>
    </div>
  </form>
</ejs-dialog>
